<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Input Information
  </h1>
</div>
<div class="container">
<h2>Input:</h2>
<form class="forms" action="/#">
  <label for="cargo">Cargo Capacity</label><br>
  <input type="text" name="cargo" placeholder="Enter Cargo Capacity"><br>
  <label for="passengers">Passengers</label><br>
  <select id="passengerList1">
    <option>Select passengers</option>
  </select><br>
  <select id="passengerList2">
    <option>Select passengers</option>
  </select><br>
  <select id="passengerList3">
    <option>Select passengers</option>
  </select><br>
  <select id="passengerList4">
    <option>Select passengers</option>
  </select><br>
  <select id="passengerList5">
    <option>Select passengers</option>
  </select><br><br>
  <input type="submit" id="submitBtn" value="Find Compatible Ships">
</form>
</div>